@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* font-family: "Outfit", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  /* font-family: "Pacifico", cursive; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: "Outfit", sans-serif;
  }
:root{
    /*! colors */
--white-color:#F5EBDD;
--dark-color:#6F4E37;
--primary-color:#3E2723;
--secondary-color:#C89F5D;
--light-pink-color:#FAF4F5;
--medium-gray-color:#4B2E05;
/*! font size */
--font-size-s:0.9rem;
--font-size-n:1rem;
--font-size-m:1.12rem;
--font-size-l:1.5rem;
--font-size-xl:2rem;
--font-size-xxl:2.3rem;

/*! font weight */
--font-weight-normal:400;
--font-weight-medium:500;
--font-weight-semibold:600;
--font-weight-bold:700;

/*! border radius*/
--border-radius-s:8px;
--border-radius-m:30px;
--border-radius-circle:50%;
/*! site max width */
--site-max-width:1300px;
}
html{
    scroll-behavior: smooth;
}
/*? stylings for whole site  */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
}

.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-title{
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}
.section-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    background: var(--secondary-color);
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    -webkit-border-radius: var(--border-radius-s);
    -moz-border-radius: var(--border-radius-s);
    -ms-border-radius: var(--border-radius-s);
    -o-border-radius: var(--border-radius-s);
}


/* ?bullets  */
.nav-bullets {
  position: fixed;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 1070;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}


.nav-bullets .bullet {
  width: 18px;
  height: 18px;
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.nav-bullets .bullet:hover {
  background-color: var(--secondary-color);
}


.nav-bullets .bullet .tooltip {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 6px 10px;
  border-radius: 6px;
  position: absolute;
  right: calc(100% + 12px);
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
  white-space: nowrap;
  display: none; 
  opacity: 0;
  transition: opacity 0.3s ease;
}


.nav-bullets .bullet:hover .tooltip {
  display: block;
  opacity: 1;
}

.nav-bullets .bullet .tooltip::before {
  content: '';
  border-style: solid;
  border-width: 8px;
  border-color: transparent transparent transparent var(--secondary-color);
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
}


/*& navbar  */
header{
    position: fixed;
    width: 100%;
    z-index: 5;
background: var(--primary-color);
  }

  header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
.navbar .nav-logo .logo-text{
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu{
    display: flex;
    gap: 10px;
   
}
.navbar .nav-menu .nav-link{
     color:var(--white-color) ;
     padding: 10px 18px;
     font-size: var(--font-size-m);
     border-radius: var(--border-radius-m);
     -webkit-border-radius: var(--border-radius-m);
     -moz-border-radius: var(--border-radius-m);
     -ms-border-radius: var(--border-radius-m);
     -o-border-radius: var(--border-radius-m);
     transition:0.3s ease ;
     -webkit-transition:0.3s ease ;
     -moz-transition:0.3s ease ;
     -ms-transition:0.3s ease ;
     -o-transition:0.3s ease ;
}

.navbar .nav-menu .nav-link:hover{
    color: var(--primary-color);
     background: var(--secondary-color);
}
.navbar :where(#menu-close-button,#menu-open-button){
    display: none;
}
/*? hero section */
.hero-section{
    min-height: 100vh;
    background: var(--primary-color);
}
.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}
.hero-details {
 animation: fadeIn 3s ease-in-out;
 -webkit-animation: fadeIn 3s ease-in-out;
}
.hero-section .hero-details .title{
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
   font-family: "Pacifico", cursive;
}
.hero-section .hero-details .subtitle{
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);

}
.hero-section .hero-details .description{
min-width: 70%;
margin: 24px 0 40px;
font-size: var(--font-size-m);
}

.hero-section .hero-details .buttons{
    display: flex;
    gap: 23px;
}
.hero-section .hero-details .button{
    padding: 10px 26px ;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background-color: var(--secondary-color);
    -webkit-border-radius: var(--border-radius-m);
    -moz-border-radius: var(--border-radius-m);
    -ms-border-radius: var(--border-radius-m);
    -o-border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    border: 2px solid transparent;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us
{
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent ;
}
.hero-section .hero-details .contact-us:hover{
      color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color) ;
}
.hero-section .hero-image-wrapper{
    max-width: 500px ;
    margin-right: 30px;
 animation: fadeIn 3s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*? about section */
.about-section{
    padding: 120px 0;
    background: var(--light-pink-color);
}
.about-section .section-content{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.about-section .about-image-wrapper .about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
    -webkit-border-radius: var(--border-radius-circle);
    -moz-border-radius: var(--border-radius-circle);
    -ms-border-radius: var(--border-radius-circle);
    -o-border-radius: var(--border-radius-circle);
}
.about-section .about-details .section-title{
    padding: 0;
}
.about-section .about-detail{
    max-width: 50%;
}
.about-section .about-details .text{
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}
.about-section .social-link-list{
     display: flex;
     gap: 25px;
     justify-content: center;
}

.about-section .social-link{
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}
.about-section .social-link:hover{
    color: var(--secondary-color);
}

/* ?menu section */

.menu-section{
    color: var(--white-color);
    background: var(--dark-color);
    padding: 50px 0 100px;
}
.menu-section .menu-list{
display:flex ;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
gap: 110px;
}
.menu-section .menu-list .menu-item{
   display: flex;
   align-items: center; 
   text-align: center;
   flex-direction: column;
   justify-content: space-between;
   width: calc(100% / 3 - 110px);
  
}


.menu-section .menu-list .menu-item .menu-image{
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: cover;
    border-radius: var(--border-radius-m);
    -webkit-border-radius: var(--border-radius-m);
    -moz-border-radius: var(--border-radius-m);
    -ms-border-radius: var(--border-radius-m);
    -o-border-radius: var(--border-radius-m);
    transition: 0.3s;
}
.menu-section .menu-list .menu-item .menu-image:hover{
  transform: scale(1.02);
}
.menu-section .menu-list .menu-item .name{
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}
.menu-section .menu-list .menu-item .text{
    font-size: var(--font-size-m);

}


/* ?testimonials section */
.testimonials-section{
    padding: 50px 0 100px ;
    background: var(--light-pink-color);
}
.testimonials-section .slider-wrapper{
    overflow: hidden;
    margin: 0 60px 50px ;
}
.testimonials-section .testimonial{
    user-select: none;
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;

}
.testimonials-section .testimonial .user-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: var(--border-radius-circle);
    -webkit-border-radius: var(--border-radius-circle);
    -moz-border-radius: var(--border-radius-circle);
    -ms-border-radius: var(--border-radius-circle);
    -o-border-radius: var(--border-radius-circle);
}
.testimonials-section .testimonial .name{
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}

.testimonials-section .testimonial .feedback{
    line-height: 25px;
}

.testimonials-section .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    opacity: 1;
    background: var(--secondary-color)
}


.testimonials-section .swiper-slide-button{
    margin-top: -50px;
    color: var(--secondary-color);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.testimonials-section .swiper-slide-button:hover{
        color: var(--primary-color);
}

/* ? gallery section */

.gallery-section {
  text-align: center;
  padding: 60px 0;
  background-color: #f7f3ef;

}

.section-title {
  font-size: 2rem;
  margin-bottom: 40px;
  color: var(--primary-color);
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
 
  gap: 25px;
  padding: 0;
  list-style: none;
}

.gallery-card {
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 15px;
 
}

.gallery-card:hover .card-inner {
  transform: rotateY(180deg);
}


.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
  
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
border-radius: var(--border-radius-m);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}


.card-back {
  background-color: var(--primary-color);
  color: var(--white-color);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-back h3 {
  color: var(--secondary-color);
  font-size:var(--font-size-l);
  margin-bottom: 10px;
}

.card-back p {
  color:var(--white-color);
  font-size: var(--font-size-n);
  line-height: 1.4;
  text-align: center;
}
.card-back button {
  margin-top: 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.card-back button:hover {
  background-color: var(--white-color);
  transform: scale(1.05);
}


/* ?contact us section */
.contact-section{
    background: var(--light-pink-color);
    padding: 50px 0 100px ;
}
.contact-section .section-content{
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;
}
.contact-section .section-content .contact-info-list .contact-info{
display: flex;
gap: 20px;
margin: 20px 0;
align-items: center;
}
.section-content .contact-info-list .contact-info i{
    font-size: var(--font-size-m);

}

.section-content .contact-form .form-input{
     width: 100%;
     height: 50px;
     background: var(--white-color);
     border: 1px solid var(--medium-gray-color);
     border-radius:var(--border-radius-s) ;
     -webkit-border-radius:var(--border-radius-s) ;
     -moz-border-radius:var(--border-radius-s) ;
     -ms-border-radius:var(--border-radius-s) ;
     -o-border-radius:var(--border-radius-s) ;
     padding: 0 12px ;
     outline: none;
     margin-bottom: 16px;

}
.section-content .contact-form{
       flex: 0 0 48%; 
    max-width: 48%;
}
.section-content .contact-form .form-input:focus{
    border-color: var(--secondary-color);
}
.section-content .contact-form textarea.form-input {
    height: 100px;
    padding: 12px;
    resize: vertical;
}



.section-content .contact-form .submit-button{
    padding: 10px 26px;
    margin-top: 10px;
    color:var(--white-color);
    background: var(--primary-color);
    border-radius: var(--border-radius-m);
    -webkit-border-radius: var(--border-radius-m);
    -moz-border-radius: var(--border-radius-m);
    -ms-border-radius: var(--border-radius-m);
    -o-border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-m);
    border: 1px solid var(--primary-color);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.section-content .contact-form .submit-button:hover{
    background: transparent;
    color:var(--primary-color) ;
}
/* ?footer section */
.footer-section{
    padding: 20px 0;
    background: var(--dark-color);

}
.footer-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-section .social-link-list{
    display: flex;
    gap: 25px;

}
.footer-section .social-link-list .social-link{
    font-size: var(--font-size-l);
    color: var(--primary-color);

}
.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover{
    color: var(--secondary-color);
}
.footer-section .policy-text .separator{
    margin: 0 5px;
color: var(--white-color);
}
.footer-section :where(.copyright-text,.social-link-list,.policy-link){
   color: var(--white-color);
   transition:0.3s ease ;
   -webkit-transition:0.3s ease ;
   -moz-transition:0.3s ease ;
   -ms-transition:0.3s ease ;
   -o-transition:0.3s ease ;
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--primary-color);
    border-radius: .8rem;
    transition: .5s ease;

}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--primary-color);
}
.footer-iconTop a i{
    font-size: 2rem;
    color: var(--secondary-color);
}
/*& media query */


@media  screen and (max-width:1024px) {
    .menu-section .menu-list {
        gap:60px;

    }
.menu-section .menu-list .menu-item{
width: calc(100% / 3 - 60px);
}
}
@media  screen and (max-width:900px) {

    :root{
        --font-size-m:1rem;
--font-size-l:1.3rem;
--font-size-xl:1.5rem;
--font-size-xxl:1.8rem;
    }


    body.show-mobile-menu header::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
background: rgba(0, 0, 0, 0.2);
    }
.navbar :where(#menu-close-button,#menu-open-button){
    display: block;
    font-size: var(--font-size-l);

}
.navbar #menu-close-button{
    position: absolute;
    top: 30px;
    right: 30px;
}


.navbar #menu-open-button{
    color: var(--white-color);
}
.navbar .nav-menu{ 
    display: block;
     position: fixed;
      left:-300px; 
      top: 0;
     width: 300px; 
     height: 100%; 
     display: flex; 
     flex-direction: column;
      align-items: center; 
      padding-top: 100px;
       background: var(--white-color); 
       transition:left 0.2s ease ;
        -webkit-transition:left 0.2s ease ;
         -moz-transition:left 0.2s ease ;
          -ms-transition:left 0.2s ease ; 
          -o-transition:left 0.2s ease ;
}

body.show-mobile-menu .navbar .nav-menu{
    left:0;
}
 .navbar .nav-menu .nav-link{
    color: var(--dark-color);
    display: block;
    margin-top:17px ;
    font-size:var(--font-size-l) ;
 }
/** media hero section */
.hero-section .section-content{
    gap: 50px;
    text-align: center;
    padding: 30px 20px 20px;
    display: flex;
flex-direction: column-reverse;
justify-content: center;

}

.hero-section .hero-image-wrapper{
    min-width: 270px;
    margin-right: 0;
}
.hero-section .hero-details :is(.subtitle,.description,.about-section .about-detail ){
max-width: 100%;

}
.hero-section .hero-details .buttons{
    justify-content: center;
}

/** media about section*/
.about-section .section-content{
    gap: 70%;
  flex-direction: column-reverse;  
}
.about-section .about-image-wrapper .about-image{
    width: 100%;
    height: 100%;
    max-width: 250px;
    aspect-ratio: 1;
}
/** menu section */ 
.menu-section .menu-list {
    gap: 30px;

    }
.menu-section .menu-list .menu-item{
width: calc(100% / 2 - 30px);
}
.menu-section .menu-list .menu-item .menu-image{
    max-width: 200px;

}
/* *gallery section */
.gallery-section .gallery-list .gallery-item{
     width:80%;
     height: 300px;
     margin-bottom: 50px;
     margin-left: 10px;
}
/* *contact us */
.contact-section .section-content{
    align-items: center;
    flex-direction: column-reverse;
   
}
.section-content .contact-form{
   width: 100%; 
        max-width: 100%;
}

}
@media screen and (max-width:640px) {
.menu-section .menu-list {
    gap: 60px;

    }


    .menu-section .menu-list .menu-item{
width: 100%;
}
.menu-section .menu-list .menu-item .menu-image{
    max-width: 300px;

}

.testimonials-section .swiper-slide-button{
    display: none;
}
.testimonials-section .slider-wrapper{
    margin: 0 0 30px;
}
.gallery-section .gallery-list .gallery-item{
     width:80%;
     height: 300px;
     margin-bottom: 50px;
     margin-left: 10px;
}
.footer-section .section-content{
    flex-direction: column;
    gap: 20px;

}
}

